{{ ansible_managed | comment }}

acl = {
  default_policy = "deny"
  down_policy = "async-cache"
  enable_key_list_policy = true
  enabled = true
  enable_token_persistence = true

  tokens =  {
    master = "{{ consul_acl_token }}"
  }
}
